<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Mood Board Maker</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink" id="boards"><a>Boards</a></div>
    <div class="navlink">
      <input type="checkbox" id="premiumMode" name="premiumMode">
      <label for="premiumMode"> Premium Mode</label>
    </div>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink" id="changePassButton"><a>Change Password</a></div>
  </nav>


  <div id="status" class='hidden'>
      <h3><span id="statusMessage"></span></h3>
    </div>

  <section id="changePass">
  </section>

    <section id="uploadForm">
    </section>
    
    <section id="moodImages">
    </section>

  <script src="/assets/appBundle.js"></script>
</body>
</html>
